Webservices/BasicAuthClient/src/META-INF/wsdl/localhost_7001/BasicAuthenticationWebService/SimpleBasicAuthService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xsd:schema xmlns:ns0="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.com/"><xsd:complexType name="showName"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="showNameResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="showName" type="ns0:showName"/><xsd:element name="showNameResponse" type="ns0:showNameResponse"/></xsd:schema>