Webservices/MultiplePortServiceClient/src/META-INF/wsdl/_2002_7c7b_3f44_0_0_0_7c7b_3f44__7001/MultiplePortService/PrimitiveWebServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://service.base.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.base.com/">

  <xs:element name="baseMethod" type="tns:baseMethod"/>

  <xs:element name="baseMethodResponse" type="tns:baseMethodResponse"/>
    <xs:element name="baseMethod1" type="tns:baseMethod"/>

  <xs:element name="baseMethodResponse1" type="tns:baseMethodResponse"/>

  <xs:complexType name="baseMethod">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="baseMethodResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  


  
  
</xs:schema>