Webservices/MultiplePortServiceClient/src/META-INF/wsdl/_2002_7c7b_3f44_0_0_0_7c7b_3f44__7001/MultiplePortService/PrimitiveWebServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.base.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://service.base.com/" name="PrimitiveWebServiceService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.base.com/" schemaLocation="http://[2002:7c7b:3f44:0:0:0:7c7b:3f44]:7001/MultiplePortService/PrimitiveWebServiceService?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="baseMethod">
    <part name="parameters" element="tns:baseMethod"/>
  </message>
  <message name="baseMethodResponse">
    <part name="parameters" element="tns:baseMethodResponse"/>
  </message>
  <message name="baseMethod1">
    <part name="parameters" element="tns:baseMethod1"/>
  </message>
  <message name="baseMethodResponse1">
    <part name="parameters" element="tns:baseMethodResponse1"/>
  </message>
  <portType name="PrimitiveWebService">
    <operation name="baseMethod">
      <input wsam:Action="http://service.base.com/PrimitiveWebService/baseMethodRequest" message="tns:baseMethod"/>
      <output wsam:Action="http://service.base.com/PrimitiveWebService/baseMethodResponse" message="tns:baseMethodResponse"/>
    </operation>
  </portType>
  <portType name="PrimitiveWebService1">
    <operation name="baseMethod1">
      <input wsam:Action="http://service.base.com/PrimitiveWebService/baseMethodRequest" message="tns:baseMethod1"/>
      <output wsam:Action="http://service.base.com/PrimitiveWebService/baseMethodResponse" message="tns:baseMethodResponse1"/>
    </operation>
  </portType>
  <binding name="PrimitiveWebServicePortBinding" type="tns:PrimitiveWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="baseMethod">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="PrimitiveWebServicePortBinding1" type="tns:PrimitiveWebService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="baseMethod1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PrimitiveWebServiceService">
    <port name="PrimitiveWebServicePort" binding="tns:PrimitiveWebServicePortBinding">
      <soap:address location="http://[2002:7c7b:3f44:0:0:0:7c7b:3f44]:7001/MultiplePortService/PrimitiveWebServiceService"/>
    </port>
	<port name="PrimitiveWebServicePort1" binding="tns:PrimitiveWebServicePortBinding1">
      <soap:address location="http://[2002:7c7b:3f44:0:0:0:7c7b:3f44]:7001/MultiplePortService/PrimitiveWebServiceService"/>
    </port>
  </service>

   
  
 </definitions>