Webservices/SimpleWebServiceClient/src/META-INF/wsdl/SampleServiceDemo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://service.simple.com/" name="SampleServiceDemo" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.simple.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.simple.com/" schemaLocation="SampleServiceDemo_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="testOperation">
    <part name="parameters" element="tns:testOperation"/>
    <part name="myHeader" element="tns:myHeader"/>
  </message>
  <message name="testOperationResponse">
    <part name="result" element="tns:testOperationResponse"/>
  </message>
  <message name="empReturn">
    <part name="parameters" element="tns:empReturn"/>
  </message>
  <message name="empReturnResponse">
    <part name="parameters" element="tns:empReturnResponse"/>
  </message>
  <message name="CustomException">
    <part name="fault" element="tns:CustomException"/>
  </message>
  <portType name="SimpleService">
    <operation name="testOperation" parameterOrder="parameters myHeader">
      <input wsam:Action="http://service.simple.com/SimpleService/testOperationRequest" message="tns:testOperation"/>
      <output wsam:Action="http://service.simple.com/SimpleService/testOperationResponse" message="tns:testOperationResponse"/>
    </operation>
    <operation name="empReturn">
      <input wsam:Action="http://service.simple.com/SimpleService/empReturnRequest" message="tns:empReturn"/>
      <output wsam:Action="http://service.simple.com/SimpleService/empReturnResponse" message="tns:empReturnResponse"/>
      <fault message="tns:CustomException" name="CustomException" wsam:Action="http://service.simple.com/SimpleService/empReturn/Fault/CustomException"/>
    </operation>
  </portType>
  <binding name="SimpleServicePortBinding" type="tns:SimpleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="testOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:testOperation" part="myHeader" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="empReturn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="CustomException">
        <soap:fault name="CustomException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SampleServiceDemo">
    <port name="SimpleServicePort" binding="tns:SimpleServicePortBinding">
      <soap:address location="http://localhost:2000/SampleServiceDemo"/>
    </port>
  </service>
</definitions>

